@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }

  p {
    @apply max-w-3xl text-left mx-auto mb-10 text-xl text-grayishBlue;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue md:text-left;
  }
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:space-y-0 md:space-x-4 md:flex-row;
}

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}
